@font-face {
	font-family: 'BLOKKNeue-Regular';
	src: url(../css/aba2b8c3a74422a7a75b2dd2484d5cd0.woff) format('woff'),
		url(../css/ec822461e873ce67a8b39243aad96d17.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
