@font-face {
	font-family: 'Chalkboard';
	src: url(../css/8bb156b7881e73b257327180880ce355.woff) format('woff'), url(../css/0e2b2bb5a912b5af53fc9a166f6f9bfa.ttf) format('truetype'),
		url(../css/aba0212fa113307952ebdc30fd4c19ef.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
